 * {
     margin: 0px;
     padding: 0px;
 }

 body {
     font-family: 'poppins', sans-serif;
 }

 .b {
     color: rgb(13, 110, 253);
 }

 .nameintro {
     margin-left: 170px;
     font-size: 70px;
     text-transform: uppercase;
     color: rgb(13, 110, 253);
     text-shadow: 1px 2px 2px rgb(0, 0, 0);
     text-overflow: clip;
     font-weight: bold;
     line-height: 1;
     opacity: 0;
     animation: animate 1s ease-in-out 0.3s 1 forwards;
 }

 .dc {
     margin-left: 170px;
     font-size: 45px;
     font-weight: bold;
     line-height: 1;
     opacity: 0;
     animation: animate 1s ease-in-out 0.6s 1 forwards;
 }

 .disintro {
     margin-left: 170px;
     margin-top: 10px;
     margin-bottom: 20px;
     font-size: 18px;
     opacity: 0;
     animation: animate 1s ease-in-out 0.9s 1 forwards;
 }

 .navbar {
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 5px;
     background-color: rgb(13, 110, 253);
     color: antiquewhite;
 }

 .navbar-links {
     display: flex;
     column-gap: 20px;
 }

 .navbar-links a {
     text-decoration: none;
     color: aliceblue;
     border: 3px solid rgb(13, 110, 253);
 }

 .navbar-links a:hover {
     cursor: pointer;
     color: rgb(40, 45, 50);
     background-color: aliceblue;
     border: 3px solid white;
     border-radius: 55%;
     transition: 1s;
 }

 .navbar-menu-toggle {
     display: none;
 }

 /* side navbar */
 .side-navbar {
     background-color: rgb(0, 0, 0);
     color: aliceblue;
     width: 50%;
     height: 100%;
     position: fixed;
     top: 0;
     left: -60%;
     padding: 20px;
     transition: 2s;
     z-index: 9;

 }

 .side-navbar-link {
     margin-bottom: 30px;
 }

 .side-navbar-link a {
     text-decoration: none;
     color: aliceblue;
 }

 .side-navbar-links a:hover {
     color: rgb(54, 134, 203);
     text-decoration: underline;

 }

 .header {
     background-image: url(assets/dc2.png);
     height: 90vh;
     display: flex;
     justify-content: center;
     align-items: center;
     padding: 50px;
     gap: 30px;
     box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
     color: #fff;
 }

 .header-button {
     text-decoration: none;
     margin-left: 170px;
     color: aliceblue;
     background-color: rgb(13, 110, 253);
     border: solid 5px;
     border-color: rgb(13, 110, 253);
     border-radius: 10px;
     padding: 12px;
     opacity: 0;
     animation: animate 2s ease-in-out 0.3s 1 forwards;
 }

 .header a {
     text-decoration: none;
     color: rgb(255, 255, 255);
 }

 .header-button:hover {
    color: rgb(13, 110, 253);
     background-color: aliceblue;
     
     border-color: rgb(13, 110, 253);
     transition: 1s;
 }

 .service-container-1 {
     display: flex;
     justify-content: space-between;
     align-items: center;
     gap: 40px;
     margin: 10px;
     margin-bottom: 25px;

 }

 .service-container-1 div {
     padding: 10px;
     background-color: white;
     box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
     border: 2px solid white;
     border-radius: 25px;
 }

 .service-container-1 div h2 {
     align-items: center;
 }

 .vmw {
     display: flex;
     justify-content: space-between;
     align-items: center;
     gap: 20px;
     margin: 10px;
     animation: animate 2s ease-in-out 0.3s 1 forwards;
 }

 .ac {
     display: flex;
     justify-content: space-between;
     gap: 20px;
     margin: 10px;
 }

 .ac div {
     height: 200px;
     width: 150px;
     padding: 10px;
     border: solid 2px color(white);
     border-radius: 25px;
     align-items: center;
     box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
 }


 /* media query */
 @media screen and (max-width:700px) {
     .navbar-menu-toggle {
         display: block;
     }

     .navbar-links {
         display: none;
     }

     .ac {
         flex-direction: column;
     }

     .vmw {
         flex-direction: column;
     }

     .service-container-1 {
         flex-direction: column
     }

     .nameintro {
         margin-left: 0px;
     }

     .dc {
         margin-left: 0px;
     }

     .disintro {
         margin-left: 0px;
     }

     .header-button {
         margin-left: 0px;
     }

     .ac div {
         height: auto;
         width: auto;
     }

     .map_size iframe {
         margin-left: 50px;
     }
 }




 /* slider */

 @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: 'Poppins', sans-serif;
 }

 /* Header section */

 header {
     margin-top: 1000px;
     width: 100%;
     max-width: 100%;
     padding-left: 100px;
     height: 50px;
     display: flex;
     align-items: center;
     position: relative;
     z-index: 1000;
 }

 header nav a {
     color: #fff;
     margin-right: 5px;
     padding: 5px 10px;
     font-size: 16px;
     transition: 0.2s;
     text-decoration: none;
 }

 a.active {
     background: #f1f1f1cb;
     border-radius: 2px;
 }

 a:hover {
     background: rgb(13, 110, 253);
     border-radius: 2px;
 }

 /* Header section */



 /* carousel */

 .carousel {
     width: 100vw;
     height: 90vh;
     margin-top: 0px;
     overflow: hidden;
     position: relative;
 }

 .carousel .list .item {
     width: 180px;
     height: 250px;
     position: absolute;
     top: 80%;
     transform: translateY(-70%);
     left: 70%;
     border-radius: 20px;
     box-shadow: 0 25px 50px rgba(0, 0, 0, 0.3);
     background-position: 50% 50%;
     background-size: cover;
     z-index: 100;
     transition: 1s;
 }

 .carousel .list .item:nth-child(1),
 .carousel .list .item:nth-child(2) {
     top: 0;
     left: 0;
     transform: translate(0, 0);
     border-radius: 0;
     width: 100%;
     height: 100%;
 }

 .carousel .list .item:nth-child(3) {
     left: 67%;
 }

 .carousel .list .item:nth-child(4) {
     left: calc(67% + 200px);
 }

 .carousel .list .item:nth-child(5) {
     left: calc(67% + 400px);
 }

 .carousel .list .item:nth-child(6) {
     left: calc(67% + 600px);
 }

 .carousel .list .item:nth-child(n+7) {
     left: calc(67% + 800px);
     opacity: 0;
 }





 .list .item .content {
     position: absolute;
     top: 50%;
     left: 100px;
     transform: translateY(-50%);
     width: 400px;
     text-align: left;
     color: #fff;
     display: none;
 }

 .list .item:nth-child(2) .content {
     display: block;
 }

 .content .title {
     font-size: 100px;
     text-transform: uppercase;
     color: rgb(13, 110, 253);
     font-weight: bold;
     line-height: 1;
     opacity: 0;
     animation: animate 1s ease-in-out 0.3s 1 forwards;
 }

 /* .content .name {
     font-size: 100px;
     text-transform: uppercase;
     font-weight: bold;
     line-height: 1;
     text-shadow: 3px 4px 4px rgba(255, 255, 255, 0.8);
     opacity: 0;
     animation: animate 1s ease-in-out 0.6s 1 forwards; }*/

 .content .des {
     margin-top: 10px;
     margin-bottom: 20px;
     font-size: 18px;
     margin-left: 5px;
     opacity: 0;
     animation: animate 1s ease-in-out 0.9s 1 forwards;
 }

 /* .content .btn {
     margin-left: 5px;

     opacity: 0;
     animation: animate 1s ease-in-out 1.2s 1 forwards;
 } */

 .content .btn button {
     padding: 10px 20px;
     border: none;
     cursor: pointer;
     font-size: 16px;
     border: 2px solid #fff;
 }

 .content .btn button:nth-child(1) {
     margin-right: 15px;
 }

 .content .btn button:nth-child(2) {
     background: transparent;
     color: rgb(13, 110, 253);
     ;
     border: 2px solid #fff;
     transition: 0.3s;
 }

 .content .btn button:nth-child(2):hover {
     background-color: rgb(13, 110, 253);
     color: #fff;
     border-color: rgb(13, 110, 253);
 }


 @keyframes animate {

     from {
         opacity: 0;
         transform: translate(0, 100px);
         filter: blur(33px);
     }

     to {
         opacity: 1;
         transform: translate(0);
         filter: blur(0);
     }
 }

 /* Carousel */






 /* next prev arrows */

 .arrows {
     position: absolute;
     top: 80%;
     right: 52%;
     z-index: 100;
     width: 300px;
     max-width: 30%;
     display: flex;
     gap: 10px;
     align-items: center;
 }

 .arrows button {
     width: 50px;
     height: 50px;
     border-radius: 50%;
     background-color: rgb(13, 110, 253);
     ;
     color: #fff;
     border: none;
     outline: none;
     font-size: 16px;
     font-family: monospace;
     font-weight: bold;
     transition: .5s;
     cursor: pointer;
 }

 .arrows button:hover {
     background: #fff;
     color: #000;
 }


 /* time running */
 .carousel .timeRunning {
     position: absolute;
     z-index: 1000;
     width: 0%;
     height: 4px;
     background-color: rgb(13, 110, 253);
     ;
     left: 0;
     top: 0;
     animation: runningTime 7s linear 1 forwards;
 }

 @keyframes runningTime {

     from {
         width: 0%;
     }

     to {
         width: 100%;
     }

 }


 /* Responsive Design */

 @media screen and (max-width: 999px) {

     header {
         padding-left: 50px;
     }

     .list .item .content {
         left: 50px;
     }

     .content .title,
     .content .name {
         font-size: 70px;
     }

     .content .des {
         font-size: 16px;
     }

 }

 @media screen and (max-width: 690px) {
     header nav a {
         font-size: 14px;
         margin-right: 0;
     }

     .list .item .content {
         top: 40%;
     }

     .content .title,
     .content .name {
         font-size: 45px;
     }

     .content .btn button {
         padding: 10px 15px;
         font-size: 14px;
     }
 }

 .map {
     width: 100%;
     height: 100%;
 }


 .map_size iframe {
     align-items: center;
     box-shadow: lightgrey;
     border-radius: 20px;
     margin: 20px;
 }

 .footer  {
     background-color: #000000;
     color: #fff;
 }
 .a1{
    display: inline;
    margin: 5px;
 }
 .a1 a{
    color:  rgb(13, 110, 253);
 }

 .a1 a:hover{
    color: white;
    background-color: rgb(13, 110, 253);
 }

 
